# Pandas - Series
## TOPICS:
1. What is Pandas?
2. Installation
3. Series
* 3.1 CREATE
* 3.2 READ
* 3.3 UPDATE
* 3.4 DELETE
4. Operations with Series
5. A first look at DataFrame (There will be more detail in a dedicated notebook about a dataframe.)

## 1. What is Pandas?

As you may guess that Pandas is very important. 

What is the name of the course main textbook? 

Answer: **Pandas for Everyone**, Daniel Y. Chen

* A library to help us deal with data.
* It also utilizes NumPy underneath.
* Some key parts in Pandas were inspired by R features (such as a data frame)
* We can use pandas to import data from various file format.
* We can use it for visualization.
* It is an open source project library.

## 2. Installation
Exactly the same process as installing NumPy. However, this time, we search for **pandas**.
![Install Pandas](assets/InstallPandas1.png)

Now,click **Apply** 

_Note: You may see a longer list than this._

![Install Pandas](assets/InstallPandas2.png)

** Import **
Very similar to what we did with NumPy. Let's import both of them

In [1]:
import pandas as pd
import numpy as np

## 3. Series
Series is a 1-d array that can hold data and the associated label. We may consider a series as a mixture of **an 1-d array** and **a dictionary**. For most of the parts, a series works like 1-d array. The part that makes it work like a dictionary is that we can access the data by the label. This is very similar to using a key to access the value in dictionary.

In [2]:
name_list = ["Tom", "Tim", "Ted"]       # a list of strings
gpa_list = [2.3,2.4,2.5]               # a list of floats
np_arr = np.array(gpa_list)             # a numpy array
dct = {"Tom":2.3, "Tim":2.4, "Ted":2.5} # a dictionary

### 3.1 CREATE
We can create a series from a list.

In [3]:
pd_s1 = pd.Series( data = gpa_list)
pd_s1

0    2.3
1    2.4
2    2.5
dtype: float64

The each data point can have **a label**. Think about it as an index.

In [4]:
pd_s2 = pd.Series( data = gpa_list, index = name_list)
pd_s2

Tom    2.3
Tim    2.4
Ted    2.5
dtype: float64

The order of the parameters indicates what they suppose to be. So, the first one is the data points, the second one is the label. Hence we can write it in a shorter way:

In [5]:
pd_s3 = pd.Series(gpa_list, name_list)
pd_s3

Tom    2.3
Tim    2.4
Ted    2.5
dtype: float64

We can also create a series from a NumPy array as well.

In [6]:
pd_s4 = pd.Series(np_arr, name_list)
pd_s4

Tom    2.3
Tim    2.4
Ted    2.5
dtype: float64

If we have a dictionary already, we can create a series from a dictionary.

In [7]:
pd_s5 = pd.Series(dct)
pd_s5

Tom    2.3
Tim    2.4
Ted    2.5
dtype: float64

### 3.2 READ
We can access the element by using the label.
If we don't specify the label manually. The row number (index) can be used to access the element.

In [8]:
data_list = [777.7, 888.8, 999.9] #Python list
s6 = pd.Series( data_list ) # a Pandas Series
print(s6[0]) # Access by using numerical index
print(s6[1])
print(s6[2])

777.7
888.8
999.9

If we manually set the lable, we can use the label.

In [9]:
s7 = pd.Series( [22,25,27] , ['Cold','OK','Warm'] )
print(s7['Cold'])
print(s7['OK'])
print(s7['Warm'])

22
25
27

### 3.3 Update
* Change existing value
* Append new data to a series
We can update/change existing value by assigning a new value to it.

In [10]:
s8 = pd.Series( [22,25,27] , ['Cold','OK','Warm'] )
s8['Cold']=19
s8

Cold    19
OK      25
Warm    27
dtype: int64

We can also add/append a new value to the series.

In [11]:
s8['Hot'] = 35
s8

Cold    19
OK      25
Warm    27
Hot     35
dtype: int64

In [12]:
s8['OMG'] = -4
s8

Cold    19
OK      25
Warm    27
Hot     35
OMG     -4
dtype: int64

### 3.4 Delete
We can call a drop funtion to remove an item. This function will return **a new series**. **The current one still holds all original elements.**

In [13]:
s9 = pd.Series( [22,25,27] , ['Cold','OK','Warm'] )
s10 = s9.drop(labels=['Cold','Warm'])
print(s9)
print("---")
print(s10)

Cold    22
OK      25
Warm    27
dtype: int64
---
OK    25
dtype: int64

In [15]:
s3 = pd.Series( [10,20,30], ['Coffee','Tea','Coke'])
s4 = pd.Series( [5,6,7], ['Coffee','Milo','Tea'])
s3+s4

Coffee    15.0
Coke       NaN
Milo       NaN
Tea       27.0
dtype: float64

## 5. A first look at DataFrame
DataFrame is the main data structure we will use to hold data in the very similar to how Excel hold data.

In [16]:
from numpy.random import rand
np.random.seed(123)

# Note: rand(4,3) returns a numpy array of random values  (4 rows 3 columns).
df = pd.DataFrame( rand(4,3) , ['A','B','C','D'], ['m','n','o'] )
df

          m         n         o
A  0.696469  0.286139  0.226851
B  0.551315  0.719469  0.423106
C  0.980764  0.684830  0.480932
D  0.392118  0.343178  0.729050

Looking at the result above, if we look at the first column only, we are seeing something that looks like a series. This gives us a hint that a dataframe seems like a collection of series.

In [17]:
df["m"]

A    0.696469
B    0.551315
C    0.980764
D    0.392118
Name: m, dtype: float64