# In-Class Assignment 
## (Concatenate dataframes)
Given the following csv files

**book1.csv**

>|ISBN|TITLE|PRICE|
|---|---|---|
|978-3-11-148111-1|Introduction to DS|35|
|978-3-12-148143-2|Yoga for Everyone|12|
|978-3-37-148544-7|Nutrition|42|
|978-3-25-148007-5|Gardening|17|

**book2.csv**

>|ISBN|PUBLISHER|
|---|---|
|978-3-11-148111-1|CS Press|
|978-3-12-148143-2|Tom & Timmy|
|978-3-37-148544-7|OhMyGod|
|978-3-25-148007-5|OhMyGod|

**book3.csv**

>|ISBN|AUTHOR|
|---|---|
|978-3-11-148111-1|Ben Kenobi|
|978-3-11-148111-1|Luke Skywalker|
|978-3-12-148143-2|Minch Yoda|
|978-3-37-148544-7|Han Solo|
|978-3-25-148007-5|Darth Vader|
|978-3-25-148007-5|Luke Skywalker|
|978-3-25-148007-5|Ben Kenobi|

**book4.csv**

>|PUB.|CITY|
|---|---|
|CS Press|Phuket|
|Tom & Timmy|Krabi|
|OhMyGod|Bangkok|

In [8]:
import pandas as pd
book1 = pd.read_csv("./datasets/book1.csv")
book2 = pd.read_csv("./datasets/book2.csv")
book3 = pd.read_csv("./datasets/book3.csv")
book4 = pd.read_csv("./datasets/book4.csv")

## Task #1: 
File _book1.csv_ has basic information about the book. However, it doesn't have information about the publisher. Create a script such that the dataframe has the basic information from book1 with the information of the publisher of each book, assign the result to a variable **df5**.

In [9]:
df5 = book1.merge(book2, left_on="ISBN", right_on="ISBN")
df5

                ISBN               TITLE  PRICE    PUBLISHER
0  978-3-11-148111-1  Introduction to DS     35     CS Press
1  978-3-12-148143-2   Yoga for Everyone     12  Tom & Timmy
2  978-3-37-148544-7           Nutrition     42      OhMyGod
3  978-3-25-148007-5           Gardening     17      OhMyGod

## Task #2:
From df5, we also want to know the the city of the publisher. Create a dataframe that has the book details with the city of the publisher. Assign the result in a variable **df6**.

In [12]:
df6 = df5.merge(book4, left_on="PUBLISHER", right_on="PUB.")
df6

,ISBN,TITLE,PRICE,PUBLISHER,PUB.,CITY
0,978-3-11-148111-1,Introduction to DS,35,CS Press,CS Press,Phuket
1,978-3-12-148143-2,Yoga for Everyone,12,Tom & Timmy,Tom & Timmy,Krabi
2,978-3-37-148544-7,Nutrition,42,OhMyGod,OhMyGod,Bangkok
3,978-3-25-148007-5,Gardening,17,OhMyGod,OhMyGod,Bangkok